* {
    color: var(--fontcolor);
    font-family: Helvevica;
}

body {
    background: var(--bg)
}

li {list-style: circle;
}

.list {list-style: square;
}

.Tema-claro {
    --bg:var(--green);
    --fontcolor: var(--black);
}
.Tema-escuro {
    --bg: var(--black);
    --fontcolor: var(--green);
}



:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

