* {
    color: var(--fontcolor);
    font-family: Helvevica;
}

body {
    background: var(--bg)
}

li {list-style: circle;
}

.list {list-style: square;
}

.Tema-claro {
    --bg:var(--green);
    --fontcolor: var(--black);
    --btnFontColor: var(--white);
    --btnbg: var(--black);
}
.Tema-escuro {
    --bg: var(--black);
    --fontcolor: var(--green);
    --btnFontColor: var(--black);
    --btnbg: var(--white);
}



:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnbg);
}
.btn:focus {
    outline-style: none;
}

